body {
    margin: 0;
}

/*#region header*/

.header {
    position: sticky;
}

.header-starbear {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15px;
    height: 95px;
}

.header-bg {
    position: absolute;
    left: 0;
    top: 0;
    
    min-width: 100%;
    height: 110px;
    
    z-index: -10;
}

.header-icons {
    width: 100%;
    height: 60px;
    display: inline-flex;
    
    margin-left: 7px;
    margin-top: 7px;
    gap: 7px;
}

.header-icons > a {
    width: 55px;
    transition: ease-in-out .1s;
}

.header-icons > a:hover {
    transform: scale(1.2);
    transition: ease-in-out .1s;
}

.header-icons > a > img {
    width: stretch;
}

/*#endregion */

/*#region body*/

/*#endregion */

/*#region footer*/

.footer {
    bottom: 0;
    margin: 0;
    padding: 0;
}

.footer > img {
    width: 100%;
}

/*#endregion */